{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Customer{% endblock %}

{% block body %}
<h1>Edit Customer</h1>
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ include('admin_customer/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('admin_customer_index') }}">back to list</a>

{{ include('admin_customer/_delete_form.html.twig') }}
{% endblock %}