{% extends 'baseAdmin.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
<h1>Customer index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>

            <<!--th>FirstName</th>
                <th>LastName</th>-->

                <th>Phone</th>
                <th>AdressLine1</th>
                <th>AdressLine2</th>
                <th>City</th>
                <th>PostalCode</th>
                <th>Country</th>
                <th>CreatedAt</th>
                <th>ModifiedAt</th>
                <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.id }}</td>






            <td>{{ customer.phone }}</td>
            <td>{{ customer.adressLine1 }}</td>
            <td>{{ customer.adressLine2 }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.postalCode }}</td>
            <td>{{ customer.country }}</td>
            <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ customer.modifiedAt ? customer.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('admin_customer_show', {'id': customer.id}) }}">show</a>
                <a href="{{ path('admin_customer_edit', {'id': customer.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_customer_new') }}">Create new</a>
{% endblock %}