{% extends 'baseAdmin.html.twig' %}

{% block title %}New Customer{% endblock %}

{% block body %}
<h1>Create new Customer</h1>
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ include('admin_customer/_form.html.twig') }}

<a href="{{ path('admin_customer_index') }}">back to list</a>
{% endblock %}