{% extends 'baseAdmin.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
<h1>Customer</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ customer.id }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ customer.phone }}</td>
        </tr>
        <tr>
            <th>AdressLine1</th>
            <td>{{ customer.adressLine1 }}</td>
        </tr>
        <tr>
            <th>AdressLine2</th>
            <td>{{ customer.adressLine2 }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ customer.city }}</td>
        </tr>
        <tr>
            <th>PostalCode</th>
            <td>{{ customer.postalCode }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ customer.country }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>ModifiedAt</th>
            <td>{{ customer.modifiedAt ? customer.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('admin_customer_index') }}">back to list</a>

<a href="{{ path('admin_customer_edit', {'id': customer.id}) }}">edit</a>

{{ include('admin_customer/_delete_form.html.twig') }}
{% endblock %}