@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?j59l22');
  src:  url('fonts/icomoon.eot?j59l22#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?j59l22') format('truetype'),
    url('fonts/icomoon.woff?j59l22') format('woff'),
    url('fonts/icomoon.svg?j59l22#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play2:before {
  content: "\ea15";
}
.icon-pause:before {
  content: "\ea16";
}
.icon-stop:before {
  content: "\ea17";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-facebook2:before {
  content: "\ea91";
}
