{% extends 'page.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

<div class="card border-secondary mb-3  fondblanc">
    <div class="card-header fondcafe" id="textblanc">BOUTIQUE
    </div>

    <div class="cart-table-area section-padding-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="cart-title mt-50">
                        <h2>Votre panier</h2>
                    </div>

                    <div class="cart-table clearfix">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>Quantité</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, item in items %}
                                <tr>
                                    <td class="cart_product_img">
                                        <img src="{{ asset('uploads/product/'~item.picture) }}" alt="{{ item.name }}"
                                            width="100">
                                    </td>
                                    <td class="cart_product_desc">
                                        <h5><a>{{
                                            item.name }}</a></h5>
                                    </td>
                                    <td class="price">
                                        <span>{{ item.price|format_currency('EUR', locale='fr') }}</span>
                                    </td>
                                    <td class="qty">
                                        <div class="qty-btn d-flex">
                                            <p>Qté</p>
                                            <div class="quantity">
                                                <span class="qty-minus changeQte" data-type="minus"
                                                    data-id="{{ id }}"><i class="fa fa-minus"
                                                        aria-hidden="true"></i></span>
                                                <input type="number" class="qty-text" id="qty{{ id }}" step="1" min="1"
                                                    max="300" name="quantity" value="{{ item.qte }}">
                                                <span class="qty-plus changeQte" data-type="plus" data-id="{{ id }}"><i
                                                        class="fa fa-plus" aria-hidden="true"></i></span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="4">Votre panier est vide !</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="cart-summary">
                        <h5>Montant du panier</h5>
                        <ul class="summary-table">
                            <li><span>Total HT :</span> <span id="subtotal">{{ subtotal |format_currency('EUR', locale='fr')
                                }}</span></li>

                            <li><span>Frais de port :</span> <span>Free</span></li>

                        </ul>
                        <div class="cart-btn mt-5">
                            <a href="{{ path('yataalii') }}" class="btn btn-warning w-100">Continuez vos achats</a>
                        </div>
                        <div class="cart-btn mt-5">
                            <a href="{{ path('login') }}" class="btn btn-success w-100">Valider la commande</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}