{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Product{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
<h1>Edit Product</h1>

{{ include('admin_product/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('admin_product_index') }}">back to list</a>

{{ include('admin_product/_delete_form.html.twig') }}
{% endblock %}