{% extends 'baseAdmin.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<h1>Product index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>ProductName</th>
            <th>ProductDescription</th>
            <th>ProductPicture</th>
            <th>ProductPrice</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productDescription }}</td>
            <td>{{ product.productPicture }}</td>
            <td>{{ product.productPrice }}</td>
            <td>
                <a href="{{ path('admin_product_show', {'id': product.id}) }}">show</a>
                <a href="{{ path('admin_product_edit', {'id': product.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_product_new') }}">Create new</a>
{% endblock %}