{% extends 'baseAdmin.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<h1>Product</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>ProductName</th>
            <td>{{ product.productName }}</td>
        </tr>
        <tr>
            <th>ProductDescription</th>
            <td>{{ product.productDescription }}</td>
        </tr>
        <tr>
            <th>ProductPicture</th>
            <td>{{ product.productPicture }}</td>
        </tr>
        <tr>
            <th>ProductPrice</th>
            <td>{{ product.productPrice }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('admin_product_index') }}">back to list</a>

<a href="{{ path('admin_product_edit', {'id': product.id}) }}">edit</a>

{{ include('admin_product/_delete_form.html.twig') }}
{% endblock %}