/* --------------------*/

.menu {
    width: 33%;
    text-align: center !important;
}

.lien {
    color: white !important;
    text-decoration: none !important;
}

.lien:hover {
    color: orange !important;
    text-decoration: none !important;
}

#textmenu {
    text-align: center !important;
}

#fondmenu {
    background-color: #e4e4e4 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #1c0803 !important;
}

ul {
    padding-left: 0rem !important;
}

#entete1 {
    width: 100% !important;
    background-color: #e4e4e4 !important;
    overflow: hidden !important;
}

#entete {
    width: 100% !important;

}

#playerdiv {
    width: 100% !important;

}

.containers {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    background-color: #e4e4e4 !important;
}

.container {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    width: 70% !important;
}

.boutique {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    width: 90% !important;
}

.containercol {
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    width: 70% !important;
}

.marge {
    width: 15% !important;
}

.gauche {
    width: 73% !important;
}

.droite {
    width: 25% !important;
}

.gout {
    width: 4.6% !important;
}

.fondcafe {
    background-color: #471e0b !important;
    border-color: #e4e4e4 !important;
}

.fondblanc {
    background-color: white !important;
    border-color: #e4e4e4 !important;
}

#textblanc {
    color: white !important;
}

#textcafe {
    color: #471e0b !important;
}

.justifd {
    text-align: right !important;
}

p {
    line-height: 1em;
}

.imgBout {
    width: 100%;
    height: auto;
}

.bout {
    margin-left: 2%;
    margin-right: 2%;
    width: 40%;
    height: 40%;
    border: 1px solid #CCCBC8;
}

.com {

    width: 100%;
}

.ico {
    margin: 0;
    font-family: inherit;
    font-size: xx-large !important;
    line-height: inherit;
    color: #471e0b !important;
}

.me-auto {
    margin-left: auto !important;
}

a.fondcafe:hover {
    background-color: hsl(34, 94%, 53%) !important;
    color: #471e0b !important;
}

.cent {
    margin-right: auto;
    margin-left: auto;
}





@media all and (max-device-width: 820px) {
    .menu {
        width: 33%;
        text-align: center !important;
    }

    #textmenu {
        text-align: center !important;
    }

    #fondmenu {
        background-color: #e4e4e4 !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #1c0803 !important;
    }

    ul {
        padding-left: 0rem !important;
    }

    #entete1 {
        width: 100% !important;
        background-color: #e4e4e4 !important;
        overflow: hidden !important;
    }

    #entete {
        width: 100% !important;

    }

    #playerdiv {
        width: 100% !important;

    }

    .containers {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        background-color: #e4e4e4 !important;
    }

    .container {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        width: 96% !important;
    }

    .boutique {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        width: 90% !important;
    }

    .containercol {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        width: 70% !important;
    }

    .marge {
        width: 2% !important;
    }

    .gauche {
        width: 100% !important;
    }

    .droite {
        width: 100% !important;
    }

    .none {
        display: none;
    }

    .gout {
        display: none;
        width: 4.6% !important;
    }

    .fondcafe {
        background-color: #471e0b !important;
        border-color: #e4e4e4 !important;
    }

    .fondblanc {
        background-color: white !important;
        border-color: #e4e4e4 !important;
    }

    #textblanc {
        color: white !important;
    }

    #textcafe {
        color: #471e0b !important;
    }

    .justifd {
        text-align: right !important;
    }

    p {
        line-height: 1em;
    }

    .imgBout {
        width: 100%;
        height: auto;
    }

    .bout {
        margin-left: 2%;
        margin-right: 2%;
        width: 40%;
        height: 40%;
        border: 1px solid #CCCBC8;
    }

    .com {

        width: 100%;
    }

    .navbar-toggler {

        margin-left: auto !important;
        transform: translateX(-188%) !important;
    }

    button.navbar-toggler[aria-expanded="false"] {
        margin-left: auto !important;
        transform: translateX(277%) !important;
    }

    .navbar-dark .navbar-toggler-icon {
        background-color: #471e0b !important;
        color: #471e0b;
    }

    .navbar-dark .navbar-toggler {
        color: #471e0b;
        box-shadow: 0 0 0 .25rem;
    }

}

@media all and (max-device-width: 480px) {
    .menu {
        width: 33%;
        text-align: center !important;
    }

    #textmenu {
        text-align: center !important;
    }

    #fondmenu {
        background-color: #e4e4e4 !important;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #1c0803 !important;
    }

    ul {
        padding-left: 0rem !important;
    }

    #entete1 {
        width: 100% !important;
        background-color: #e4e4e4 !important;
        overflow: hidden !important;
    }

    #entete {
        width: 100% !important;

    }

    #playerdiv {
        width: 100% !important;

    }

    .containers {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        background-color: #e4e4e4 !important;
    }

    .container {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        width: 96% !important;
    }

    .boutique {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        width: 90% !important;
    }

    .containercol {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        width: 70% !important;
    }

    .marge {
        width: 2% !important;
    }

    .gauche {
        width: 100% !important;
    }

    .droite {
        width: 100% !important;
    }

    .none {
        display: none;
    }

    .gout {
        display: none;
        width: 4.6% !important;
    }

    .fondcafe {
        background-color: #471e0b !important;
        border-color: #e4e4e4 !important;
    }

    .fondblanc {
        background-color: white !important;
        border-color: #e4e4e4 !important;
    }

    #textblanc {
        color: white !important;
    }

    #textcafe {
        color: #471e0b !important;
    }

    .justifd {
        text-align: right !important;
    }

    p {
        line-height: 1em;
    }

    .imgBout {
        width: 100%;
        height: auto;
    }

    .bout {
        margin-left: 2%;
        margin-right: 2%;
        width: 40%;
        height: 40%;
        border: 1px solid #CCCBC8;
    }

    .com {

        width: 100%;
    }

    .navbar-toggler {

        margin-left: auto !important;
        transform: translateX(-58%) !important;
    }

    button.navbar-toggler[aria-expanded="false"] {
        margin-left: auto !important;
        transform: translateX(150%) !important;
    }

    .navbar-dark .navbar-toggler-icon {
        background-color: #471e0b;
    }

    .navbar-dark .navbar-toggler {
        color: #471e0b;
        box-shadow: 0 0 0 .25rem;
    }

    .ico {


        font-size: medium !important;


    }
}