{% extends 'base.html.twig' %}


{% block title %}Boutique{% endblock %}

{% block body %}



<div class="card border-secondary mb-3  fondblanc">
    <div class="card-header fondcafe" id="textblanc">BOUTIQUE
    </div>

    {% for product in products %}

    <div class="card-body fondblanc boutique">
        <div class="bout">
            <div id="slideShowImages">
                <img class="imgBout" src="{{ asset('uploads/product/'~product.productPicture) }}" title="image1" />
            </div>
        </div>

        <div>
            <h5>{{product.productName}} </h5>
            <p>{{product.productDescription | raw }}</p>
            <!--Celui-la<br>Dis-moi Petit<br>Au Milieu Des Vagues<br>Oh Louise<br>Elle Parle Avec Les
                Anges<br>Rosa
                <br>J'ai Des Questions<br>Un Peu Sensuel<br>Punky Car Crash br<br>Hype (Eiffel
                covers)-->

            <p>Prix : {{product.productPrice}}€</p>
            <div class="d-grid gap-2">
                <form action="{{ path('cart_add') }}" method="POST">
                    <input type="hidden" name="id" value="{{product.id}}">
                    <input type="hidden" name="quantity" value="1">
                    <button class="btn btn-lg btn-primary fondcafe com" data-bs-target="" type="submit">Ajouter au
                        panier</button>
                </form>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}