{% extends 'page.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="card border-secondary mb-3  fondblanc">
    <div class="card-header fondcafe" id="textblanc">BOUTIQUE
    </div>
    <div class="card-body fondblanc boutique">
        <div class="bout cent">

            <form action="{{ path('login') }}" method="post">
                <div>
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                    <div>
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password" />
                    </div>
                    {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}
                    <div>
                        <button type="submit">login</button>
                    </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}