{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit OrderDetail{% endblock %}

{% block body %}
<h1>Edit OrderDetail</h1>

{{ include('admin_order_detail/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('admin_order_detail_index') }}">back to list</a>

{{ include('admin_order_detail/_delete_form.html.twig') }}
{% endblock %}