{% extends 'baseAdmin.html.twig' %}

{% block title %}OrderDetail{% endblock %}

{% block body %}
<h1>OrderDetail</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ order_detail.id }}</td>
        </tr>
        <tr>
            <th>QuantityOrdered</th>
            <td>{{ order_detail.quantityOrdered }}</td>
        </tr>
        <tr>
            <th>PriceEach</th>
            <td>{{ order_detail.priceEach }}</td>
        </tr>
        <tr>
            <th>OrderLineNumber</th>
            <td>{{ order_detail.orderLineNumber }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('admin_order_detail_index') }}">back to list</a>

<a href="{{ path('admin_order_detail_edit', {'id': order_detail.id}) }}">edit</a>

{{ include('admin_order_detail/_delete_form.html.twig') }}
{% endblock %}