{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Payments{% endblock %}

{% block body %}
<h1>Edit Payments</h1>

{{ include('admin_payments/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('admin_payments_index') }}">back to list</a>

{{ include('admin_payments/_delete_form.html.twig') }}
{% endblock %}