{% extends 'baseAdmin.html.twig' %}

{% block title %}Payments index{% endblock %}

{% block body %}
<h1>Payments index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>CheckNumber</th>
            <th>PaymentDate</th>
            <th>Amount</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.id }}</td>
            <td>{{ payment.checkNumber }}</td>
            <td>{{ payment.paymentDate ? payment.paymentDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ payment.amount }}</td>
            <td>
                <a href="{{ path('admin_payments_show', {'id': payment.id}) }}">show</a>
                <a href="{{ path('admin_payments_edit', {'id': payment.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_payments_new') }}">Create new</a>
{% endblock %}