{% extends 'baseAdmin.html.twig' %}

{% block title %}New Payments{% endblock %}

{% block body %}
<h1>Create new Payments</h1>

{{ include('admin_payments/_form.html.twig') }}

<a href="{{ path('admin_payments_index') }}">back to list</a>
{% endblock %}