{% extends 'baseAdmin.html.twig' %}

{% block title %}Payments{% endblock %}

{% block body %}
<h1>Payments</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ payment.id }}</td>
        </tr>
        <tr>
            <th>CheckNumber</th>
            <td>{{ payment.checkNumber }}</td>
        </tr>
        <tr>
            <th>PaymentDate</th>
            <td>{{ payment.paymentDate ? payment.paymentDate|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>{{ payment.amount }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('admin_payments_index') }}">back to list</a>

<a href="{{ path('admin_payments_edit', {'id': payment.id}) }}">edit</a>

{{ include('admin_payments/_delete_form.html.twig') }}
{% endblock %}