{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<h1>Edit User</h1>
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ include('admin_user/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('admin_user_index') }}">back to list</a>

{{ include('admin_user/_delete_form.html.twig') }}
{% endblock %}