{% extends 'baseAdmin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<h1>User index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Password</th>
            <th>Roles</th>
            <th>FirstName</th>
            <th>LastName</th>

            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>

            <td>
                <a href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
                <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>

            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_user_new') }}">Create new</a>
{% endblock %}