{% extends 'baseAdmin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<h1>Create new User</h1>
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ include('admin_user/_form.html.twig') }}

<a href="{{ path('admin_user_index') }}">back to list</a>
{% endblock %}