{% extends 'baseAdmin.html.twig' %}

{% block title %}Orders index{% endblock %}

{% block body %}
<h1>Orders index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>OrderDate</th>
            <th>ShippedDate</th>
            <th>Status</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ order.shippedDate ? order.shippedDate|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ order.status }}</td>
            <td>
                <a href="{{ path('admin_orders_show', {'id': order.id}) }}">show</a>
                <a href="{{ path('admin_orders_edit', {'id': order.id}) }}">edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_orders_new') }}">Create new</a>
{% endblock %}