{% extends 'baseAdmin.html.twig' %}

{% block title %}New Orders{% endblock %}

{% block body %}
<h1>Create new Orders</h1>

{{ include('admin_orders/_form.html.twig') }}

<a href="{{ path('admin_orders_index') }}">back to list</a>
{% endblock %}