{% extends 'baseAdmin.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
<h1>Orders</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ order.id }}</td>
        </tr>
        <tr>
            <th>OrderDate</th>
            <td>{{ order.orderDate ? order.orderDate|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>ShippedDate</th>
            <td>{{ order.shippedDate ? order.shippedDate|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ order.status }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('admin_orders_index') }}">back to list</a>

<a href="{{ path('admin_orders_edit', {'id': order.id}) }}">edit</a>

{{ include('admin_orders/_delete_form.html.twig') }}
{% endblock %}