<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}- yataalii </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="para.css">
    <link rel="stylesheet" href="{{ asset('icone/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <script src="{{ asset('js/slideshow.js') }}"></script>
    <script src="{{ asset('js/player.js') }}"></script>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <header>
        <section>
            <div id="entete1">
                <img id="entete" src="picture/enTete.png" alt="">
            </div>


        </section>



        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="fondmenu">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu"></div>
                <div class="collapse navbar-collapse menu" id="navbarColor01">

                    <ul class="navbar-nav me-auto " id=" textmenu">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('yataalii') }}">Accueil
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('yataalii') }}#media">Média</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('yataalii') }}#boutique">Boutique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('yataalii') }}#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cart') }}">Panier</a>
                        </li>
                    </ul>

                </div>
                <div class="menu"></div>
            </div>
            <div></div>
        </nav>
    </header>

    <!-- SECTION 1 -->

    <section>
        <div class="containers">
            <div class="marge">
            </div>
            <div class="container">

                <div class="card border-secondary mb-3 gauche fondblanc">
                    <div class="card-header fondcafe" id="textblanc">NEWS</div>
                    <div class="card-body fondblanc">
                        <h4 class="card-title">Vous l'aurez compris, il s'agissait de rock pur et dur, debout dans son
                            rythme originel !!!! </h4>
                        <h6 class="justifd">Solange TERRIER BLEUER</h6>
                    </div>
                </div>

                <div class=" gout">
                </div>

                <div class="card text-white bg-primary mb-3 droite fondblanc ">
                    <div class="card-header fondblanc" id="textcafe">DETAIL</div>
                    <div class="card-body fondcafe ">
                        <p class="card-text">Basé à Cadenet, FR<br>Fondé en 2009<br>Genre : Chanson-Rock</p>
                    </div>
                </div>
            </div>

            <div class="marge">
            </div>
        </div>
    </section>

    <!-- MEDIA 1 PLAYER -->

    <section id="media">
        <div class="containers">
            <div class="marge">
            </div>
            <div class="container">
                <div class="card border-secondary mb-3  fondblanc" id="playerdiv">
                    <div class="card-header fondcafe" id="textblanc">MUSIQUE</div>
                    <ul>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <audio id="audioPlayer1" ontimeupdate="update(this)">
                                <source src="media/petitsVauriens.mp3">
                                </source></audio>
                            <span>
                                <button class="icon-stop stop ico" data-player="audioPlayer1"></button>
                                <button class="icon-play2 play ico" data-player="audioPlayer1"></button>
                            </span>
                            Petits Vauriens
                            <a> 03:51</a>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <audio id="audioPlayer2">
                                <source src="media/artistePourUneNuit.mp3">
                                </source></audio>
                            <span>
                                <button class="icon-stop stop ico" data-player="audioPlayer2"></button>
                                <button class="icon-play2 play ico" data-player="audioPlayer2"></button>
                            </span>
                            Artiste Pour Une Nuit
                            <a> 03:56</a>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <audio id="audioPlayer3">
                                <source src="media/sombre.mp3">
                                </source></audio>
                            <span>
                                <button class="icon-stop stop ico" data-player="audioPlayer3"></button>
                                <button class="icon-play2 play ico" data-player="audioPlayer3"></button>
                            </span>
                            Sombre
                            <a> 04:05</a>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <audio id="audioPlayer4">
                                <source src="media/auBoutDuChemin.mp3">
                                </source></audio>
                            <span>
                                <button class="icon-stop stop ico" data-player="audioPlayer4"></button>
                                <button class="icon-play2 play ico" data-player="audioPlayer4"></button>
                            </span>
                            Au Bout Du Chemin
                            <a> 04:04</a>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <audio id="audioPlayer5">
                                <source src="media/coteConcorde.mp3">
                                </source></audio>
                            <span>
                                <button class="icon-stop stop ico" data-player="audioPlayer5"></button>
                                <button class="icon-play2 play ico" data-player="audioPlayer5"></button>
                            </span>
                            Côte Concorde
                            <a> 05:05</a>
                        </li>





                    </ul>
                </div>
            </div>
            <div class="marge">
            </div>
        </div>
    </section>

    <!-- MEDIA 1 SLIDESHOW & VIDEO -->

    <section>
        <div class="containers">
            <div class="marge"></div>
            <div class="container">
                <div class="containercol gauche">
                    <div class="card border-secondary mb-3  fondblanc">
                        <div class="card-header fondcafe" id="textblanc">PHOTOS J.M. Santarelli / J.M. Foulon / S.M.
                            Terrier Bleuer</div>
                        <div class="card-body fondblanc">

                            <div
                                style="margin-left:auto; margin-right:auto; width:300px; height:300px; border: 1px solid #CCCBC8;">
                                <div id="slideShowImages">
                                    <img style="width:300px; height:300px;" src="{{ asset('picture/1.jpg') }}"
                                        alt="Slide 1" title="image1" />
                                    <img style="width:300px; height:300px;" src="{{ asset('picture/2.jpg') }}"
                                        alt="Slide 2" />
                                    <img style="width:300px; height:300px;" src="{{ asset('picture/3.jpg') }}"
                                        alt="Slide 3" />
                                    <img style="width:300px; height:300px;" src="{{ asset('picture/4.jpg') }}"
                                        alt="Slide 4" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card border-secondary mb-3  fondblanc">
                        <div class="card-header fondcafe" id="textblanc">VIDEO</div>
                        <div class="card-body fondblanc">

                            <div style="padding:56.25% 0 0 0;position:relative;"><iframe
                                    src="https://player.vimeo.com/video/209407542?h=94a4f5a4a8"
                                    style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0"
                                    allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div>
                            <script src="https://player.vimeo.com/api/player.js"></script>


                        </div>
                    </div>
                </div>

                <div class=" gout"></div>

                <div class="card text-white bg-primary mb-3 droite fondblanc ">
                    <div class="card-header fondblanc" id="textcafe">YATAALII c'est qui ?</div>
                    <div class="card-body fondcafe ">
                        <p class="card-text">Étienne – Chant <br> Rodolphe – Guitare <br>Chris - Basse <br>Steff -
                            Batterie </p>

                        <br><br>
                        <h5 class="card-text">Bio :</h5>

                        <p class="card-text">yataalii est né de la complicité entre deux amis, Rod et Étienne, en
                            automne 2009. D'influence musicales très variées, leurs compositions originales - en
                            français - sont résolument Rock. Étienne au chant et Rod à la guitare électrique sont
                            rejoint en 2016 par Chris à la basse ainsi que Steff à la batterie.</p>
                        <br>
                        <br>
                        <h5 class="card-text none">Partage de scène :</h5>

                        <p class="card-text none">Elevetion (tribute U2)<br>
                            <a href="http://www.karmasexpress.eu/" class="lien" target="_blank">Karma's eXpress</a>
                            <br><a href="https://www.facebook.com/Atelier-blues-jazz-pierrevert-1503652546587129/"
                                class="lien" target="_blank">Atelier Blues &
                                Jazz</a><br>4thy
                            Free<br><a href="https://www.facebook.com/hookipa.musique" class="lien"
                                target="_blank">Hookipa</a><br>Karma
                            & Plum<br><a href="https://www.facebook.com/NoNameDegun/" class="lien" target="_blank">No
                                Name</a><br>Nova
                            Pop<br><a href="https://www.facebook.com/sonsofacoustic/" class="lien" target="_blank">Sons
                                of Acoustic</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="marge"></div>
        </div>
    </section>

    <!-- MEDIA 1 BOUTIQUE & CONTACT -->

    <section id="boutique">
        <div class="containers">
            <div class="marge">

            </div>
            <div class="container">
                <div class="containercol gauche">

                    {% block body %}{% endblock %}


                    <div id="contact" class="card border-secondary mb-3  fondblanc">
                        <div class="card-header fondcafe" id="textblanc">CONTACT</div>
                        <div class="card-body fondblanc">
                            <br>
                            <h5>Adresse :</h5>
                            <p>association MASIQ', 9 rue fontaine de l'aube, 84160 Cadenet (FR)</p>
                            <br>
                            <h5>Tel :</h5>
                            <p>06 79 54 10 45</p>
                            <br>
                            <h5>Email :</h5>
                            <p>yataalii@orange.fr</p>
                            <br>



                        </div>
                    </div>
                </div>

                <div class=" gout"></div>

                <div class="card text-white bg-primary mb-3 droite fondblanc ">
                    <div class="card-header fondblanc" id="textcafe">LIENS</div>
                    <div class="card-body fondcafe ">
                        <p class="card-text"><a href="https://www.youtube.com/watch?v=lBSryl-QO2Q" class="lien"
                                target="_blank">YouTube
                                Channel</a><br><a href="https://www.facebook.com/yataaliiboobook/" class="lien"
                                target="_blank">Facebook</a><br><a href="https://soundcloud.com/yataalii2" class="lien"
                                target="_blank">Soundcloud</a><br><a
                                href="https://www.le-kfe-quoi.com/js_albums/yataalii" class="lien" target="_blank">Le
                                K'fé
                                Quoi</a><br><a href="https://www.zbqlab.info/yataalii/" class="lien"
                                target="_blank">Musique et
                                codes postaux</a><br><a href="https://chapo-creation.com/" class="lien"
                                target="_blank">Galerie
                                Chapo</a><br><a href="https://jeanmarcsantarelli7.wixsite.com/photos" class="lien"
                                target="_blank">Jean-Marc Santarelli</a><br><a href="http://www.foulonjm.com/"
                                class="lien" target="_blank">Jean-Marc
                                Foulon</a><br><a href="http://pab.station.free.fr/" class="lien"
                                target="_blank">PEEK@BOO</a><br><a href="https://www.facebook.com/communepierrevert/"
                                class="lien" target="_blank">Commune de
                                Pierrevert</a><br><a href="http://djpatatra.free.fr/" class="lien"
                                target="_blank">djPatatra</a></p>

                    </div>

                </div>
            </div>
            <div class="marge"></div>
        </div>
    </section>





    <section class="container-fluid mt-5 mb-5">
        {% block boutique %}{% endblock %}
    </section>

    <!-- FOOTER -->
    <footer class="container">
        <div class="menu">
            <p class="float-start"><a href="#">Mentions légales</a></p>
        </div>
        <div class="menu">
            <p>propulsé par &copy; 2017–2021 Yataalii </p>
        </div>
        <div class="menu">
            <p class="float-end"><a href="#">Back to top</a></p>
        </div>

    </footer>
</body>

</html>