<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %} Accueil</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>


    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

    <header>


        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('yataalii') }}">YATAALII</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_customer_index') }}">CLIENT</a>

                            <!--<div class="dropdown-menu show" data-bs-popper="none">
                                <a class="dropdown-item" href="{{ path('admin_customer_index') }}">liste</a>
                                <a class="dropdown-item" href="{{ path('admin_customer_new') }}">ajouter</a>
                            </div>-->
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-haspopup="true" aria-expanded="false">PRODUIT</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('admin_product_index') }}">liste</a>
                                <a class="dropdown-item" href="{{ path('admin_product_new') }}">ajouter</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_orders_index') }}">COMMANDE</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin_user_index') }}">USER</a>
                        </li>



                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>


    </header>

    <main class="container">
        {% block body %}{% endblock %}
    </main>





</body>

</html>