<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}- yataalii </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="para.css">
    <link rel="stylesheet" href="{{ asset('icone/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

    <script src="{{ asset('js/slideshow.js') }}"></script>
    <script src="{{ asset('js/player.js') }}"></script>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <header>
        <section>
            <div id="entete1">
                <img id="entete" src="picture/enTeteBandeau.png" alt="">
            </div>


        </section>



        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="fondmenu">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu"></div>
                <div class="collapse navbar-collapse menu" id="navbarColor01">

                    <ul class="navbar-nav me-auto " id=" textmenu">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('yataalii') }}">Accueil
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('yataalii') }}#media">Média</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('yataalii') }}#boutique">Boutique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('yataalii') }}#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('cart') }}">Panier</a>
                        </li>

                    </ul>

                </div>
                <div class="menu"></div>
            </div>
            <div></div>
        </nav>
    </header>

    <!-- SECTION 1 -->

    <section class="container-fluid mt-5 mb-5">
        {% block body %}{% endblock %}
    </section>






    <!-- FOOTER -->
    <footer class="container">
        <div class="menu">
            <p class="float-start"><a href="#">Mentions légales</a></p>
        </div>
        <div class="menu">
            <p>propulsé par &copy; 2017–2021 Yataalii </p>
        </div>
        <div class="menu">
            <p class="float-end"><a href="#">Back to top</a></p>
        </div>

    </footer>
</body>

</html>